.promo {
    margin-top: 180px;
    margin-left: 455px;
    max-width: 560px;
    &__subtitle {
        font-weight: 300;
        font-size: 55px;
        line-height: 65px;
        color: #000000;
        margin-bottom: 0;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.5);
    }
}